/*default fonts start*/

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Light.eot");
  src: local("GT Walsheim Pro Light"), local("GTWalsheimPro-Light"),
    url("./css/fonts/GTWalsheimPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Light.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Light.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Regular.eot");
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
    url("./css/fonts/GTWalsheimPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Regular.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-ThinOblique.eot");
  src: local("GT Walsheim Pro Thin Oblique"), local("GTWalsheimPro-ThinOblique"),
    url("./css/fonts/GTWalsheimPro-ThinOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-ThinOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-ThinOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-ThinOblique.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Thin.eot");
  src: local("GT Walsheim Pro Thin"), local("GTWalsheimPro-Thin"),
    url("./css/fonts/GTWalsheimPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Thin.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Thin.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-BoldOblique.eot");
  src: local("GT Walsheim Pro Bold Oblique"), local("GTWalsheimPro-BoldOblique"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Bold.eot");
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
    url("./css/fonts/GTWalsheimPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Bold.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Medium.eot");
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
    url("./css/fonts/GTWalsheimPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Medium.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-RegularOblique.eot");
  src: local("GT Walsheim Pro Regular Oblique"),
    local("GTWalsheimPro-RegularOblique"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Black.eot");
  src: local("GT Walsheim Pro Black"), local("GTWalsheimPro-Black"),
    url("./css/fonts/GTWalsheimPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Black.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Black.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*default fonts are over*/

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --main-brand-color: #178f39;
}

h6 {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: red;
}

.test {
  background-color: red;
}

.logo-color {
  color: var(--main-brand-color);
}


.test2 {
  background-color: white;
  border: 1px solid #D1D1D1;
  padding: 10px 12px;
  cursor: pointer;
}



.test2 + .dropdown-menu.show {
    border-radius: 16px;
    width: 100%;

}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s; /* Animasyon süresi */
}

.test2 .fa-chevron-down {
    transition: transform 0.3s; /* Normal durumda da geçiş süresi ekleyin */
}


.test2::after {
  display: none;
}


.building-name{
    font-family: "GT Walsheim Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}


.building-block{
    font-family: "GT Walsheim Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}