/*default fonts start*/

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Light.eot");
  src: local("GT Walsheim Pro Light"), local("GTWalsheimPro-Light"),
    url("./css/fonts/GTWalsheimPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Light.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Light.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Regular.eot");
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
    url("./css/fonts/GTWalsheimPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Regular.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Thin.eot");
  src: local("GT Walsheim Pro Thin"), local("GTWalsheimPro-Thin"),
    url("./css/fonts/GTWalsheimPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Thin.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Thin.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-BoldOblique.eot");
  src: local("GT Walsheim Pro Bold Oblique"), local("GTWalsheimPro-BoldOblique"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Bold.eot");
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
    url("./css/fonts/GTWalsheimPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Bold.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Medium.eot");
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
    url("./css/fonts/GTWalsheimPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Medium.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-RegularOblique.eot");
  src: local("GT Walsheim Pro Regular Oblique"),
    local("GTWalsheimPro-RegularOblique"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Black.eot");
  src: local("GT Walsheim Pro Black"), local("GTWalsheimPro-Black"),
    url("./css/fonts/GTWalsheimPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Black.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Black.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*default fonts are over*/

/*general css settings start*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --general-brand-color: #178f39;
  --general-primary-color: #077627;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1,
.col-xs-1,
.col-md-1,
.col-lg-1,
.col-xl-1,
.col-xxl-1,
.col-2,
.col-xs-2,
.col-md-2,
.col-lg-2,
.col-xl-2,
.col-xxl-2,
.col-3,
.col-xs-3,
.col-md-3,
.col-lg-3,
.col-xl-3,
.col-xxl-3,
.col-4,
.col-xs-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.col-xxl-4,
.col-5,
.col-xs-5,
.col-md-5,
.col-lg-5,
.col-xl-5,
.col-xxl-5,
.col-6,
.col-xs-6,
.col-md-6,
.col-lg-6,
.col-xl-6,
.col-xxl-6,
.col-7,
.col-xs-7,
.col-md-7,
.col-lg-7,
.col-xl-7,
.col-xxl-7,
.col-8,
.col-xs-8,
.col-md-8,
.col-lg-8,
.col-xl-8,
.col-xxl-8,
.col-9,
.col-xs-9,
.col-md-9,
.col-lg-9,
.col-xl-9,
.col-xxl-9,
.col-10,
.col-xs-10,
.col-md-10,
.col-lg-10,
.col-xl-10,
.col-xxl-10,
.col-11,
.col-xs-11,
.col-md-11,
.col-lg-11,
.col-xl-11,
.col-xxl-11,
.col-12,
.col-xs-12,
.col-md-12,
.col-lg-12,
.col-xl-12,
.col-xxl-12,
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}


/*icons start */
.fa-chevron-right,
.fa-chevron-left {
  color: #077627;
}

/*icons are over */


/*general css settings are over*/




/*dashboard layout start*/

/*dashboar-aside start*/

.logo-box{

  padding:21px 0px;
}

.logo {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}


.logo-color {
  color: var(--general-brand-color);
}
/*dashboard-toggle*/
.aside-toggle-box {
  border: 1px solid #077627;
  border-radius: 9px;
  padding: 3px 10px;
  cursor: pointer;
}

.dashboard-aside {
  width: 250px;
  transition: width 0.3s;
  height: 100vh;
  z-index: 9;
  background-color: #fbfbfb;
}

.dashboard-main {
  width: calc(100% - 250px);
  transition: width 0.3s;
  height: 100vh;
  background-color: #f8f8f8;
}


.dashboard-aside.collapsed {
  width: 80px;
}


.dashboard-aside.collapsed:hover {
  width:250px;
}

.dashboard-aside.collapsed:hover .dashboard-main.collapsed {
  width: calc(100% - 250px);
}

.dashboard-main.collapsed {
  width: calc(100% - 80px);
}

/*dashboard-aside toggle are over*/

/*dashboard-aside ul list start*/

.dashboard-aside-list {
  list-style: none;
  padding: 0px;
}

.dashboard-aside-list-item {
  position: relative;
  cursor: pointer;
}
.dashboard-aside-list-item a {
  padding: 10px 10px;

}

.dashboard-aside-list-item a:hover  .test {
  display: block;
  
}

.test{
  display: none;
  
  }
 
 
 




/*dashboard-aside ul list are over*/


/*dashboard-aside are over*/

/*dashboard main start*/
.nav-bg-color {
  background-color: #f8f8f8;
  border-bottom: 1px solid var(--general-primary-color);
}


.navbar-notifications,
.navbar-settings {
  background-color: #f0f0f0;

  padding: 8px 13px;
  border-radius: 12px;
  border: 1px solid #ffffff00;
}

.navbar-notifications:hover,
.navbar-settings:hover {
  border: 1px solid #d1d1d1;
}
/*dashboard main finish*/



/*dashboard layout finish*/

.building-name {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.building-block {
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.dropdown-content-simple {
  cursor: pointer;
}
.dropdown-content-simple::after {
  display: none;
}

.dropdown-content {
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #f8f8f8;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}

.dropdown-menu li :hover {
  background-color: #f1f1f1;
}

.dropdown-content + .dropdown-menu.show {
  border-radius: 16px;
  width: 100%;
  padding: 0;
}

.dropdown-content + .dropdown-menu li .dropdown-item {
  border-radius: 16px;
  width: 100%;
  padding: 15px 10px;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s; /* Animasyon süresi */
}

.dropdown-content.fa-chevron-down {
  transition: transform 0.3s; /* Normal durumda da geçiş süresi ekleyin */
}

.dropdown-content::after {
  display: none;
}



