/*default fonts start*/

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Light.eot");
  src: local("GT Walsheim Pro Light"), local("GTWalsheimPro-Light"),
    url("./css/fonts/GTWalsheimPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Light.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Light.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Regular.eot");
  src: local("GT Walsheim Pro Regular"), local("GTWalsheimPro-Regular"),
    url("./css/fonts/GTWalsheimPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Regular.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Thin.eot");
  src: local("GT Walsheim Pro Thin"), local("GTWalsheimPro-Thin"),
    url("./css/fonts/GTWalsheimPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Thin.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Thin.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-BoldOblique.eot");
  src: local("GT Walsheim Pro Bold Oblique"), local("GTWalsheimPro-BoldOblique"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Bold.eot");
  src: local("GT Walsheim Pro Bold"), local("GTWalsheimPro-Bold"),
    url("./css/fonts/GTWalsheimPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Bold.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Bold.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Medium.eot");
  src: local("GT Walsheim Pro Medium"), local("GTWalsheimPro-Medium"),
    url("./css/fonts/GTWalsheimPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Medium.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Medium.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-RegularOblique.eot");
  src: local("GT Walsheim Pro Regular Oblique"),
    local("GTWalsheimPro-RegularOblique"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-RegularOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GT Walsheim Pro";
  src: url("./css/fonts/GTWalsheimPro-Black.eot");
  src: local("GT Walsheim Pro Black"), local("GTWalsheimPro-Black"),
    url("./css/fonts/GTWalsheimPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("./css/fonts/GTWalsheimPro-Black.woff2") format("woff2"),
    url("./css/fonts/GTWalsheimPro-Black.woff") format("woff"),
    url("./css/fonts/GTWalsheimPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*default fonts are over*/

/*general css settings start*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --general-brand-color: #178f39;
  --general-primary-color: #178f39;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.col-1,
.col-xs-1,
.col-md-1,
.col-lg-1,
.col-xl-1,
.col-xxl-1,
.col-2,
.col-xs-2,
.col-md-2,
.col-lg-2,
.col-xl-2,
.col-xxl-2,
.col-3,
.col-xs-3,
.col-md-3,
.col-lg-3,
.col-xl-3,
.col-xxl-3,
.col-4,
.col-xs-4,
.col-md-4,
.col-lg-4,
.col-xl-4,
.col-xxl-4,
.col-5,
.col-xs-5,
.col-md-5,
.col-lg-5,
.col-xl-5,
.col-xxl-5,
.col-6,
.col-xs-6,
.col-md-6,
.col-lg-6,
.col-xl-6,
.col-xxl-6,
.col-7,
.col-xs-7,
.col-md-7,
.col-lg-7,
.col-xl-7,
.col-xxl-7,
.col-8,
.col-xs-8,
.col-md-8,
.col-lg-8,
.col-xl-8,
.col-xxl-8,
.col-9,
.col-xs-9,
.col-md-9,
.col-lg-9,
.col-xl-9,
.col-xxl-9,
.col-10,
.col-xs-10,
.col-md-10,
.col-lg-10,
.col-xl-10,
.col-xxl-10,
.col-11,
.col-xs-11,
.col-md-11,
.col-lg-11,
.col-xl-11,
.col-xxl-11,
.col-12,
.col-xs-12,
.col-md-12,
.col-lg-12,
.col-xl-12,
.col-xxl-12,
.row > * {
  padding-left: 0px;
  padding-right: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a{
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* general alperen start */

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.mh-10 {
  min-height: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.general-main-color {
  color: var(--general-primary-color);
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--general-primary-color); 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--general-primary-color); 
}

/* general alperen end */
/*general css settings are over*/

/* dashboard sidebar start */
.dashboard-sidebar-container {
  width: 300px;
}


.dashboard-sidebar-container-active{
  width: max-content !important;
}
.dashboard-sidebar-logo-container {
  height: 70px;
  display: flex;
  align-items: center;
}

.sidebar-menu-item {
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  height: 18px;
}

.sidebar-menu-item > div {
  width: 15px !important;
  height: 15px !important;
}

.sidebar-menu-item > a {
  color: black;
  position: relative;
  font-weight: 500;
}

.custom-path {
  fill: green;
  stroke: #333;
  stroke-width: 1.5;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 200px;
}

.apexcharts-bar {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}
.sidebar-menu-item.sidebar-menu-item-active > a {
  color: var(--general-primary-color) !important;
  position: relative;
}

.sidebar-menu-item:hover a{
  animation: sidebarMenuHover 0.4s linear forwards;
  animation-duration: 0.4s;
}

@keyframes sidebarMenuHover {
  from {left: 0px}
  to {left: 5px}
}

.sidebar-menu-item.sidebar-menu-item-active {
  color: var(--general-primary-color) !important;
  padding-left: 5px;
}

.side-menu-item-active-circle.side-menu-item-active-circle2 {
  width: 35px !important;
  height: 35px !important;
  background-color: var(--general-primary-color);
  border-radius: 100%;
  position: absolute;
  left: -45px;
}

.dashboard-sidebar-toggle-button {
  width: 35px !important;
  height: 35px !important;
  position: absolute;
  right: 0px !important;
  top: 26px;
  transform: translate(+50%, -25%);
  cursor: pointer;
  transition: all 0.4s;
}

.dashboard-sidebar-toggle-button:hover {
  background-color: white;
  opacity: 0.75;
}

.dashboard-sidebar-apt-info-dropdown {
  height: 50px;
}

.dashboard-sidebar-apt-dropdown-content-container{
  max-height: 200px !important; overflow: auto;
}

.dashboard-sidebar-apt-dropdown-content-container::-webkit-scrollbar {
  width: 5px;
}
/* dashboard sidebar end */
/* dashboard header start */
.dashboard-header-main-outer {
  flex: 1;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
}

.dashboard-header-container {
  height: 70px;
  /* background-color: blue; */
}

.dashboard-header-right-account-button {
  display: flex;
  justify-content: space-between;
}

.dashboard-sidebar-menu-item-header {
  height: 18px;
}

/* dashboard header end */
/* dashboard main start */
.dashboard-main-container {
  flex: 1;
  /* background-color: aqua; */
}

.main-graphic-item-color-point {
  width: 12px;
  height: 12px;
  background-color: var(--general-primary-color);
}

.main-graphic-item-color-point2 {
  background-color: rgb(221, 222, 222);
}

.main-defined-payments-list-header-container {
  background-color: rgb(240, 240, 240);
}

.main-defined-payments-list-chart-container {
  width: 100px !important;
}

.main-graphic-item-collect-rate-label {
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: var(--general-primary-color);
  z-index: 9999;
}

.header-notification-inner {
  width: 20px;
  height: 20px;
  color: white;
}

.header-notification-inner div {
  font-size: 11px;
}

.header-notification-container {
  top: 0;
  right: -8px;
}
/* dashboard main end */
